.presentation-product-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-background {
    background-color: var(--branco);
}

.product-title-img {
    display: flex;
    justify-content: space-between;
    border:1px solid var(--cinza-borda);
    border-radius: 8px;
    padding: 1em 1em;
}

.product-title {
    font-size: 1.15em;
    padding: 0 0 1em 0;
}

.product-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.info-product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cinza-borda);
    background-color: var(--cinza);
    padding: 3em 1em;
    gap: 10px;
}

.price-product {
    font-size: 1.75em;
    font-weight: 500;
    color: var(--laranja);
}

.btn-product{
    font-family: var(--poppins);
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    color: var(--branco);
    background-color: var(--verde-escuro);
    border: 0px;
}

.btn-product:hover {
    transition: 250ms;
    background-color: var(--verde);
}

.product-description {
    border: 1px solid var(--cinza-borda);
    border-radius: 8px;
    padding: 1.75em 1em;
}

.quantity-container {
    display: block;
}

.quantity-controls {
    display: flex;
}

.div-btn-quant {
    display: flex;
    flex-direction: column;
}

.btn-quantity {
    border: 1px solid var(--cinza-borda);
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 800;
    font-size: 1em;
}

.input-number-quantity {
    width: 3em;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid var(--cinza-borda);
    font-size: 1rem;
    text-align: center;
}

.input-number-quantity::-webkit-inner-spin-button,
.input-number-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.destaque-badge {
    display: inline-block;
    background-color: gold;
    color: #000;
    font-weight: bold;
    font-size: 0.95rem;
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 12px;
}